.app {
    min-height: 100vh;
    background-color: teal;
    display: flex;
    flex-direction: column;
}

.app-content {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.sideBar {
    display: flex;
    min-width: 15rem;
}

.content {
    margin: 0.5rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-grow: 1;
}

.componentContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*background-color: green;*/
    margin: 0.5rem;
    padding: 0.5rem;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    width: 90%;
    flex-grow: 1;
}

.generationCard {
    padding: 3rem;
    margin: 1rem;
    width: 10rem;
    height: 10rem;
    background-color: lightgoldenrodyellow;
    border-radius: 4rem;
    border: 5px black solid;
}
.component {
    flex-basis: auto;
    background-color: green;
}
