.App {
  text-align: center;
  min-height: 80vh;
}

.Component {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  color: white;
}

.Header {
  margin: 10px;
  font-size: calc(20px + 2vmin);
}

.Subheader {
  margin: 5px;
  font-size: calc(10px + 2vmin);
}

p {
  margin: 0;
  padding: 0;
}